@charset "utf-8";

/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: black;}
.hidden {display: none;}
button {border: none;}
body {background: #fff;}
input:focus, select:focus, option:focus, textarea:focus, button:focus {outline: none;}

/*웹폰트*/
@font-face {
font-family: 'NanumSquareNeo-Variable';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2');
font-weight: normal;
font-style: normal;}
* {font-family: 'NanumSquareNeo-Variable', sans-serif;}

/*다크모드 body영역*/
body.dark {background: #323241;}

/*header*/
#header {width: 100%; height: 150px; background: #ffc400; color:#000; position: relative;}
#mainLogo {width: 100px; height: 100px; margin: 0 auto; line-height: 150px;}
#mainLoginWrap {position: absolute; right: 20px; top: 70px; width: 250px; display: flex; justify-content: space-evenly;}
#mainLogin{padding: 13px 25px;
                border-radius: 10px;
                background-color: #fff;
                cursor: pointer;
                box-shadow: 1px 1px 5px 1px #c69900;}
#mainLogin:hover {box-shadow: 2px 2px 5px 2px #d3d3d3 inset;}
#mainJoin {padding: 13px 25px;
                border-radius: 10px;
                background: rgb(53, 53, 53);
                color: #fff;
                cursor: pointer;
                box-shadow: 1px 1px 5px 1px #c69900;}
#mainLoginWrap span{font-size: 17px;}
#mainJoin:hover {box-shadow: 2px 2px 5px 2px #000000 inset;}
/*다크모드 header*/
#header.dark {background:#405692; color: #fff;}
#mainLogin.dark {background-color: #fff; box-shadow: 1px 1px 5px 1px #405692;}/*수정*/
#mainLogin:hover.dark {}
#mainJoin.dark {background-color: rgb(53, 53, 53); box-shadow: 1px 1px 5px 1px #405692;}/*수정*/
#mainJoin:hover.dark {}

/*asideLeft*/
#mainAsideLeft {position: absolute; top: 350px; left: 20px; display: flex; flex-flow: column nowrap; justify-content: space-between;}
#navWrap {width: 200px; height: 500px; background: #ffc400; font-weight: 600; 
        border-radius: 5px; margin: 20px; text-align: center; padding-top: 20px;}
#navWrap ul li {line-height: 50px;}
#navWrap ul li a{display: block; width: 100%; height: 100%; color: #000;}
#navWrap ul li a:hover {background: #ffffff; color: #000000; font-size: 20px;}
#mainLeftAd {width: 200px; height: 300px; background:rgb(255, 117, 37);
        border-radius: 5px; margin: 20px;}
/*다크모드 asideLeft*/
#navWrap.dark {background: #405692;}
#navWrap ul li a.dark{color: #fff;}
#navWrap ul li a:hover.dark{background: #ffc400;}
#mainLeftAd.dark {background: #405692; color: #fff;}


/*asideRight_BF*/
#mainAsideRight {position: absolute; top: 350px; right: 20px;}
#MyWrapBfWrap {display: flex; flex-flow: column nowrap; justify-content: space-between; position: relative;}
#MyWrapBf {display: block; width: 200px; height: 250px; border: 1px solid #cdcdcd;
        border-radius: 5px; margin: 20px; text-align: center; padding-top: 20px;}
#asideWriteBf {width: 150px; height: 40px; border-radius: 5px; margin: 0 auto;
                background: #ffc400; border: none; cursor: pointer;
                font-size: 20px; line-height: 40px; font-weight: 600; color: #363636;}
#asideWriteBf:before {width: 100px; height: 100px; background: url(./../img/write.png) no-repeat center;}
#asideLoginBf {display: block; width: 150px; height: 120px; border-radius: 5px; margin: 10px auto;
                background: #cdcdcd url(../../images/login.png) no-repeat 50px 20px; background-size: 50px;
                color: #474747; font-size: 13px; line-height: 16px; padding-top: 75px;}
#mainRightAd {width: 200px; height: 300px; background:rgb(255, 117, 37);
        border-radius: 5px; margin: 20px;}
#screenMode {position: absolute; bottom: -100px; right: 80px; cursor: pointer;
                width: 80px; height: 80px; border: none; border-radius: 50%;
                background: #ffc400 url(../../images/sun.png) no-repeat center; background-size: 60px;}
/*다크모드 asideRightBf*/
#MyWrapBf.dark {background: #5c6683; border: none;}
#asideLoginBf.dark {background-color: #7581a4; color: rgb(216, 225, 235);}/*이미지 컬러 바꾸기*/
#asideWriteBf.dark {background: rgb(16, 25, 53); color:rgb(216, 225, 235);}
#mainRightAd.dark {background: #405692; color: #fff;}
#screenMode.dark {background: #405692 url(../../images/moon.png) no-repeat center; background-size: 60px;}


/*footer*/
#footer {height: 300px; background: gray; color: #fff;}
#footerBottom {width: 1280px; margin: 0 auto; text-align:center;}
/*다크모드 footer*/
#footer.dark{background: rgb(73, 73, 73);}

/*반응형*/
/*1280이하*/

/*768이하*/