@charset "utf-8";

/* 작성자 : 박성민 */

/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR&display=swap');
*{font-family: 'Noto Sans KR', sans-serif;}

/* bs 도입 이후 추가 영역*/

.article-hover:hover{
	transition: 0.15s;
	background-color: rgba(33, 40, 50, 0.08);
}

.hoverable:hover{
	background-color: rgb(37, 37, 41, 0.075);
}

/* bs header dark-mode
 * js로 CommonHeader nav class에 navbar-dark 추가, MemberHeader에 dropdown-menu class 2개에 dropdown-menu-dark 추가 
 */

.navbar-dark {
  background-color: #272f3b;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(0, 0, 0, 0);
}
.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-nav {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-item {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .naver-nav .navbar-item {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .btn-icon {
  color: rgba(255, 255, 255, 0.5);
}

#alarm-dropdown-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1;
}

#navbarDropdownUserImage{
      padding: 0;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    flex-shrink: 0;
    height: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
    width: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
}

.navbar-dark #alarm-dropdown-header{
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-dark #alarm-dropdown-item{
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 0px;
}

.navbar-dark #navbarDropdownUserImage{
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-dark #profile-dropdown-nickname{
  color: rgba(255, 255, 255, 0.8);
}

.navbar-dark #alarm-dropdown-menu {
	    --bs-dropdown-color: #dee2e6;
    --bs-dropdown-bg: #343a40;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-box-shadow: ;
    --bs-dropdown-link-color: #dee2e6;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
}

.navbar-dark #profile-dropdown-menu {
	    --bs-dropdown-color: #dee2e6;
    --bs-dropdown-bg: #343a40;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-box-shadow: ;
    --bs-dropdown-link-color: #dee2e6;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-header-color: #adb5bd;
    background-color: #343a40;
}

.comment-area{
	max-height: 48px; 
	white-space: normal;
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical; 
	overflow: hidden;
}