@charset "UTF-8";
.alarmOpen{
	position:absolute; right:20px; top:80px;
	background-color:white; border:1px solid black; width: 200px;
	}
.off{ display:none; }

.alarmContent{display: block; width: 200px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}